/* body {
    background: rgba(255, 255, 255, .2);
    background-image: url('/lib/assets/bg-art.jpg');
    background-position: center;
    background-size: cover;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-nav {
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 1010px;
    height: auto;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;
    color: rgba(53,30,28);
}

.dragon-box > img {
    height: 70px;
    width: auto;
    margin: 20px 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title > h1 {
    margin: 10px;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 48px;
    color: rgba(53,30,28, .9);
}

.connects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 1.5mm;
}

.connects > li {
    padding: 10px 10px 5px 10px;
    font-size: 28px;
    font-weight: 700;
    color: rgba(53,30,28);
}

.connects > li:hover {
    background-color: rgba(117,125,117, .75);
    border-radius: 1.5mm;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    border-radius: 1.5mm;
    background-color: rgba(0,0,0, .75);
    /* selectors to hide popup below  */
    opacity: 0; 
    pointer-events: none;
}

#popup-on {
    opacity: 1; 
    pointer-events: all;
    /* selectors to show popup*/
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(198,194,182, .95); */
    width: 550px;
    max-width: 100%; 
    /* play with toggling max-width on and off */
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;
    color: rgba(53,30,28);
}

.popup > h3 {
    font-size: 58px;
    font-weight: 900;
    display: flex;
    align-items: center;
    /* width: 10%; */
    padding: 15px 25px 8px 25px;
    margin: 15px 5px 0px 5px;
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;
}
.popup > h3 > img {
    width: 55px;
    margin: 0px 15px;
}

.popup > ul {
    font-size: 28px;
    font-weight: 300;
    margin: 15px 10px 15px 10px;
    
}

.popup li {
    margin: 25px 25px;
}

.popup > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.img-button > img {
    width: 120px;
    height: auto;
}

#popup-button {
    border: none;
    background-color: transparent;
    font-weight: 900;
    padding: 5px 15px;
    margin: 30px 10px 60px 10px;
    font-size: 45px;
    color:	rgba(220,48,35);
    background-color: rgba(77,100,108);
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    border-radius: 1.5mm;
}

#reload-button {
    border: none;
    background-color: transparent;
    font-weight: 900;
    padding: 5px 15px;
    margin: 30px 10px 60px 10px;
    font-size: 45px;
    color:	rgba(220,48,35);
    background-color: rgba(77,100,108);
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    border-radius: 1.5mm;
    display: none;
}

.controls {
    background-color: rgba(117,125,117, .45);
    font-size: 34px;
    font-weight: 900;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;    
    margin: 20px 35px;
    padding: 5px;
}

.controls li {
    font-weight: 500;
    font-size: 22px;
}

.start-button {
    border: none;
    /* background-color: transparent; */
    font-weight: 900;
    height: 40px;
    width: 80%;
    font-size: 22px;
    color:	rgba(220,48,35);
    background-color: rgba(77,100,108);
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;
}

.controls li {
    margin: 5px 5px;
}

canvas {
    border-radius: 1.5mm;
    
    background-color: rgba(117,125,117, .7);
}

.main {
    display: flex;
    margin: 10px;
}

#hidden-img {
    display: none;
}

#hidden-li {
    display: none;
}

aside {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(117,125,117, .75);
    margin: 10px;
    border-radius: 1.5mm;
    color: rgba(53,30,28);
    font-size: 22px;
    width: 200px;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; 
    font-size: 28px;
    font-weight: 700;
    border-radius: 1.5mm;
    width: 180px;
}

.countdown > ul{
    margin: 5px 10px;
}

#end-level-1 {
    display: none;
}

#end-level-2 {  
    display: none;
}

.nxt-level {
    border: none;
    /* background-color: transparent; */
    font-weight: 900;
    width: 100%;
    height: 100%;
    font-size: 32px;
    color:	rgba(220,48,35);
    background-color: rgba(77,100,108);
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;
}

.start-button {
    display: inline;
    border: none;
    background-color: transparent;
    font-weight: 900;
    height: 40px;
    width: 80%;
    font-size: 22px;
    color:	rgba(220,48,35);
    background-color: rgba(77,100,108);
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 1.5mm;
}

.start-button:hover, .nxt-level:hover, #popup-button:hover, #reload-button:hover {
    transition: 150ms ease-in-out;
    background-color: rgba(77,100,108, .2);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    list-style: none; 
    height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 48px;
    font-weight: 900;
    border-radius: 1.5mm;
}

.timer > li {
    align-self: center;
    list-style: none; 
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 48px;
    font-weight: 900;
    color: rgba(220,48,35);
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;
}

.timer > .init-level {
    font-size: 28px;
    color:	rgba(220,48,35);
}

.patience {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
    font-size: 28px;
    font-weight: 700;
    border-radius: 1.5mm;
}

#img-bar {
    height:  35px;
    width: auto;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 90%;
    font-size: 48px;
    font-weight: 900;
    color: 	rgba(167, 82, 76);
    background-color: rgba(77,100,108, .9);
    border-radius: 1.5mm;
}

.container > li {
    height: 40px;
    width: 1%;
    text-align: right;
    font-size: 28px;
    font-weight: 700;
    color: rgba(53,30,28);
    background-color: rgba(220,48,35);
    border-radius: 1.5mm;
}

.score {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    border-radius: 1.5mm;
}

.food {
    height: 40px;
    /* width: 90%;     */
    padding: 10px;
    font-size: 44px;
    font-weight: 900;
    color: 	rgba(220,48,35, .9);
    background-color: rgba(77,100,108, .9);
    border-radius: 1.5mm;
}

.game-feed {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 28px;
    font-weight: 700;
    border-radius: 1.5mm;
}

.tip {
    height: auto;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    color: 	rgba(53,30,28);
    height: 100px;
    width: 150px;
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;
}

.legend > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;

}

.legend img {
    width: 72px;
}

.legend > ul > li {
    text-decoration: none;
    margin: 10px;
    /* background-color: rgba(129,123,105, .85); */
    border-radius: 1.5mm;
} 


.instructions > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* text-decoration: underline; */
    height: auto;
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: rgba(77,100,108, .7);
    border-radius: 1.5mm;

}

.instructions > ul > li {
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
} 

footer {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}