body {
    background-image: url('/src/assets/bg-art.jpg');
    background-position: center;
    background-size: contain;
    /* height: auto;
    width: auto; */
}
.top-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(220,48,35, .8);
    height: 120px;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    border-radius: 1.5mm;
}

.canvas {
    border-radius: 1.5mm;
}

.title {
    margin: 20px 10px 10px 10px;
    font-weight: 900;
    font-size: 68px;
    color: rgba(53,30,28, .9);
}

.subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    color: rgba(53,30,28);
    font-style: italic;
}

.main {
    display: flex;
    justify-content: center;
}

aside {
background-color: rgba(77,100,108, .6);
margin: 10px;
border-radius: 1.5mm;
}

.connects > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
}

.connects > ul > li {
    width: auto;
    height: auto;
    margin: 15px 10px;
    font-size: 22px;
    color: rgba(53,30,28);
}

.bottom {
    display: flex;
    height: auto;
}

.legend {
    display: flex;
}